{% if snippets is defined and snippets is not null %}


    <div class="grid-x grid-margin-x">

        {% for message in app.flashes('success') %}
            <div class="cell small-12 callout success">
                {{ message }}
            </div>
        {% endfor %}

        {% for snippet in snippets %}
            <div class="cell small-12 medium-3">
                <div class="card">
                    <div class="card-divider">
                        <a href="{{ path('snippet.show', {id: snippet.id, slug: snippet.slug}) }}">
                            {{ snippet.title }}
                        </a>
                    </div>
                    <div class="card-section">
                        <div>
                            {% for language in snippet.language %}
                                <b>{{ language.name }}</b>
                            {% endfor %}
                        </div>
                        <p>{{ snippet.content | slice(0, 50) ~ '...' }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}