{% extends 'base.html.twig' %}

{% block title %}Créer un snippet{% endblock %}

{% block body %}
    <div class="grid-container">
        <h2>Créer un snippet</h2>
        {{ form_start(form_snippet) }}
        {{ form_widget(form_snippet) }}
        <button class="button">Valider</button>
        <a href="{{ path('admin.snippet.index') }}" class="button" style="display: inline-block;">Annuler</a>
        {{ form_end(form_snippet) }}
    </div>

    <div class="grid-container">
        <h2>Ajouter un language</h2>
        {% for message in app.flashes('success') %}
            <div class="callout success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form_language) }}
        {{ form_widget(form_language) }}
        <button class="button">Valider</button>
        {{ form_end(form_language) }}
    </div>
{% endblock %}
