{% extends 'base.html.twig' %}

{% block title %}Editer les snippets{% endblock %}

{% block body %}
    <div class="grid-container">
        <h2>Editer les snippets</h2>

        {% for message in app.flashes('success') %}
            <div class="callout success">
                {{ message }}
            </div>
        {% endfor %}

        <ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion medium-tabs" id="admin-tabs">
            <li class="tabs-title is-active"><a href="#snippets" aria-selected="true">Snippets</a></li>
            <li class="tabs-title"><a href="#languages">Languages</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="admin-tabs">
            <div class="tabs-panel is-active" id="snippets">
                <a href="{{ path('admin.snippet.create') }}" class="button">Créer un snippet</a>
                <table>
                    <thead>
                    <tr>
                        <th width="200">Snippet</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                        <tr>
                            <td>{{ snippet.title }}</td>
                            <td>
                                <a href="{{ path('admin.snippet.edit', { id: snippet.id }) }}" class="button secondary small">Editer</a>
                                <form method="post" action="{{ path('admin.snippet.delete', { id: snippet.id }) }}"
                                      onsubmit="confirm('Supprimer?')" style="display: inline-block;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ snippet.id) }}">
                                    <button class="button alert small">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tabs-panel" id="languages">
                <a href="{{ path('admin.language.create') }}" class="button">Créer un language</a>

                <table>
                    <thead>
                    <tr>
                        <th width="200">Language</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for language in languages %}
                        <tr>
                            <td>{{ language.name }}</td>
                            <td>
                                <a href="{{ path('admin.language.edit', { id: language.id }) }}" class="button secondary small">Editer</a>
                                <form method="post" action="{{ path('admin.language.delete', { id: language.id }) }}"
                                      onsubmit="confirm('Supprimer?')" style="display: inline-block;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ language.id) }}">
                                    <button class="button alert small">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
