<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">CodeSnippets</li>
            <li class="{% if current_menu is defined and current_menu == "home" %}is-active{% endif %}"><a href="{{ path('home') }}">Home</a></li>
            <li class="{% if current_menu is defined and current_menu == "snippets" %}is-active{% endif %}">
                <a href="{{ path('snippets.index') }}">Snipps</a>
            </li>
            <li><a href="#">Languages</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            {% if not app.user %}
                <li><a href="{{ path('register') }}">Register</a></li>
                <li><a href="{{ path('login') }}">Login</a></li>
            {% endif %}
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
            {% if app.user %}
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </div>
</div>